$midnight:              #2c3e50;
$clouds:                #ecf0f1;
$green:                 #5cbf94;
$text:                  rgba(255,255,255,0.8);

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html,body {
    padding: 0;
    margin: 0;
}

/* Space out content a bit */
body {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    height: 100%;
    width: 100%;
}


h1, h2, h3 {
    font-weight: 200;
}

h1 {
    font-size: 104px;
}

.full-width {
    width: 100%;
}


.align {
    display: table;

    .center {
        display: table-cell; 
        vertical-align: middle; 
        text-align: center; 
    }
}

.no-margin {
    margin: 0;
}


section {

    height: 100%;
    position: relative;
    

    &.hello {
        background-color: $green;
        color: $text;
        font-weight: 100;
    }



}